/* * {
    cursor: none !important;
}

.cursorCustom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999999999999999999999999999999999999999999999;
    pointer-events: none;
    display: none;
    transition: none;
} */