* {
    cursor: none !important;
}

.cursorCustom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: rgba(255, 15, 15, 0.651); */
    position: absolute;
    top: 50%;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999999999999999999999999999999999999999999999; /* Pastikan elemen ini berada di atas elemen lain */
    pointer-events: none; /* Agar elemen ini tidak mengganggu event mouse */
    visibility: hidden;
    transition: none;
}