.showMoreProject {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    transform: translateY(-100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    align-items: center;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.showMoreProject.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.showMoreProject.down {
    transform: translateY(200%);
    opacity: 0;
    visibility: hidden;
}

.showMoreProject img.downAngle {
    margin-top: 30px;
    width: 50px;
    cursor: pointer;
    transition: .4s cubic-bezier(0.86, 0, 0.07, 1);
    filter: none;
}

.showMoreProject img.downAngle:hover {
    transform: translateY(10px);
}

.showMoreProject .container img {
    border-radius: 30px 30px 0 0;
    max-width: 335px;
    transition: .4s;
}

.showMoreProject .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.showMoreProject .container .toDoList, .showMoreProject .container .teslaWebClone {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #ccc;
    max-width: 335px;
    visibility: visible;
    position: relative;
}

.showMoreProject .container .toDoList.active {
    transform: scale(1.1);
    box-shadow: 0 0 10px 3px black;
}

.showMoreProject .container .toDoList.inActive {
    transform: scale(1);
    box-shadow: none;
}

.showMoreProject .text {
    color: black;
}

.showMoreProject a {
    text-decoration: none;
}
