* {
    transition: .4s;
}

.sidenavSlideRadio {
    display: flex;
    float: right;
    margin: 0 10px 0 100px;
}

.sidenavSlideRadio .switch {
    display: flex;
    /* position: relative; */
    /* position: fixed; */
    position: absolute;
    width: 44px;
    height: 24px;
}

.sidenavSlideRadio .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    float: right;
}

.sidenavSlideRadio .sidenavSlider {
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    /* position: relative; */
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 10px 3px rgb(0, 37, 31);
}

.sidenavSlideRadio .sidenavSlider::before {
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

.sidenavSlideRadio input:checked + .sidenavSlider::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}