* {
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.switchImg {
    display: flex;
    position: absolute;
    width: 44px;
    height: 24px;
}
  
.switchImg input {
    opacity: 0;
    width: 0;
    height: 0;
    float: right;
}
  
.sliderImg {
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    cursor: pointer;
    position: relative;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
}


.sliderImg::before {
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .sliderImg::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}